.show{
    padding: 10px;
    overflow: auto;
}
.show img {
  float: left;
  margin: 0 15px 0 0;
  max-height: 150px;
  max-width: 200px;
}
 
.wholeItem:hover {
  background: #eee;
  cursor: pointer;
}
