table.rtable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
.rtable td {
  text-align: left;
  padding: 8px;
}
.rtable th{
  text-align: left;
  padding: 9px;
}
.rtable tr:nth-child(even) {
  background-color: #dddddd;
}

.buttonBox{
  background-color: rgb(255, 220, 220);
  padding: 15px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
